extends /layout

block content
    div(class='container')
        h1= title
        form(name="order" action='/customer/order' method='POST')
            input(type='hidden' name='id' value=orderInfo.id)
            table.table
                thead
                    tr
                        th(scope='col') Name
                        th(scope='col') Description
                        th(scope='col') Price
                        th(scope='col') Quantity
                tbody
                    each item in order
                        input(type='hidden' name='orderitems['+item.name+'][id]' value=item.id)
                        input(type='hidden' name='orderitems['+item.name+'][itemId]' value=item.itemId)
                        tr
                            th(scope='row') #{item.name}
                            td #{item.description}
                            td $#{item.price}
                            input(type='hidden' name='orderitems['+item.name+'][cost]' value=item.price)
                            td: input.form-control(type="number" name='orderitems['+item.name+'][quantity]' value=item.quantity min='0' placeholder='0')
            input(type='submit' class='btn-primary' value='Update Order')