extends /layout

block content
    div(class='container')
        case orderInfo.status
                    when 1
                        -var status = 'New'
                    when 2
                        -var status = 'Ordered'
                    when 3
                        -var status = 'Cooking'
                    when 4
                        -var status = 'Canceled'
                    when 5
                        -var status = 'Finished'
        h1 Order# #{orderInfo.id} Status: #{status}
        -var total = 0
        table.table
            thead
                tr
                    th(scope='col') Name
                    th(scope='col') Description
                    th(scope='col') Price
                    th(scope='col')
                    th(scope='col') Quantity
                    th(scope='col') Line Total
            tbody
                each item in order
                    tr
                    if(item.id &&  item.quantity !== 0)
                        th(scope='row') #{item.name}
                            td #{item.description}
                            td $#{item.price}
                            td X
                            td ##{item.quantity}
                            -var lineTot = item.quantity * item.price;
                            -total += lineTot;
                            td $#{lineTot}
        div.row
            div.col
                if(total===0)
                    h2 Your Cart Is Empty
                else
                    h2 Total = $#{total}
            div.col
                form(action='/customer/order/place' method='POST')
                    input(type='hidden' name='id' value=orderInfo.id)
                    if(orderInfo.status == 1)
                        input(type='submit' value='Place Order')
                    else
                        input(type='submit' value='Order Placed' disabled)