extends /layout

block content
    div(class='container')
        -var id = 0;
        case orderInfo.status
                    when 1
                        -var status = 'New'
                    when 2
                        -var status = 'Ordered'
                    when 3
                        -var status = 'Cooking'
                    when 4
                        -var status = 'Canceled'
                    when 5
                        -var status = 'Finished'
        h1 Order# #{orderInfo.id} Status: #{status}
        table.table
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Name
                    th(scope='col') Quantity
            tbody
                each item in order
                    tr
                    if(item.id &&  item.quantity !== 0)
                        -id++;
                        th(scope='row') #{id}
                        td #{item.name}
                        td #{item.quantity}
        div.row.text-center
            div.col-12
                h1 Status Change
        div.row.text-center
            div.col
                form(method='POST')
                    input(type='hidden' name='status' value='3')
                    h1: input(type="submit" value="Cook")
            div.col
                form(method='POST')
                    input(type='hidden' name='status' value='4')
                    h1: input(type="submit" value="Cancel")
            div.col
                form(method='POST')
                    input(type='hidden' name='status' value='5')
                    h1: input(type="submit" value="Finish")
