extends layout

block content
    div(class='container')
        form(name="order" action='/customer/order' method='POST')
            each item in items 
                div.form-group.row
                    div.form-group.col-sm-6
                        h5=item.name
                        input.form-control(type="hidden" name='id' value=item.id max=item.supply)
                    div.form-group.col-sm-6
                        label(for=item.id) Quantity
                        input.form-control(type="number" name=item.id max=item.supply)
            input(type='submit' class='btn-primary')
