extends layout

block content
    -var totalCost = 0;
    div.container
        div.row
            div.col-sm-12
                h4 Order status: #{order.status}
        div.row
            div.col-sm-3 Item Name
            div.col-sm-3 Description
            div.col-sm-3 Cost
            div.col-sm-3 # of
        each item in items
            if(item.name !== null)
                div.row
                    div.col-sm-3=item.name
                    div.col-sm-3=item.description
                    div.col-sm-3=item.cost
                    div.col-sm-3=item.quantity
                    - totalCost += item.cost * item.quantity;
        div.row
            div.col-sm-12.text-right Total Cost: $#{totalCost}
